/* total span *//* total span *//* total span */
.span9 {
  width: 870px;
}
.span4 {
  width: 370px;
}
.span5 {
  width: 380px;
}
.span12 {
  width:1100px;
}
.span3 {
  width: 420px;
}
.span9 {
  width: 700px;
}
/* fin total span *//* fin total span *//* fin total span */