{% extends 'admin/layout.html.twig' %}

{% block title %}Nouvelle TVA{% endblock %}

{% block body %}

    <div class="container2">

        <h2>Creer une nouvelle Tva</h2>

        <hr>

        <div class="row">

            {{ include('admin/tva/_form.html.twig') }}

        </div>

    </div>

{% endblock %}
